<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'main' %}">TravelMarket</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    предложения
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'acc:index' %}">подобрать размещение</a>
                    <a class="dropdown-item" href="{% url 'acc:index' %}">горячее предложение</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'acc:index' %}">наши эксклюзивы</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">акции</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">обратная связь</a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth:edit' %}">
                        {{ user.name|default:'пользователь' }}
                    </a>
                </li>
            {% endif %}

            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:users' %}">админка</a>
                </li>
            {% endif %}

            <li class="nav-item">
{% if user.is_authenticated %}
   <li>
       <div class="nav-item dropdown" aria-labelledby="navbarDropdown">
           <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">
               {{ user.first_name|default:'Пользователь' }}
               <span class="caret"></span>
           </a>
           <ul class="nav-item dropdown-menu">
               <li class="dropdown-item">
                   <a " href="{% url 'auth:edit' %}">
                       профиль
                   </a>
               </li>
               <li class="dropdown-item">
                   <a href="">
                       заказы
                   </a>
               </li>
           </ul>
       </div>
   </li>
{% endif %}
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-1" type="search" placeholder="Поиск на сайте" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>

    </div>
</nav>